* {
    font-family: -apple-system, "Segoe UI", sans-serif;
    font-size: 16px;
    margin: 0;
}

.hidden {
    display: none;
}

body.dark {
    background: black;
    color: white;
}

/* Search */

#search {
    position: fixed;
    left: 0;
    top: 0;
    height: calc(32px+12px+12px);
    width: 320px;
    background-color: inherit;
}

#search input[type=search] {
    margin: 12px;
    padding: 3px 6px 5px 10px ;
    width: calc(320px - 2*12px);
    height: 32px;
    font-size: 14px;
    border: 2px solid rgb(133,133,133);
    background: black;
    /* WebKit fix */
    -webkit-appearance: none;
    outline: none;
    color: white;
}

#search input[type=search]:hover {
    border-color: white;
}

#search input[type=search]:focus {
    border-color: rgb(41,111,204);
    background: white;
    color: black;
}

#search input[type=search]::-webkit-input-placeholder {
    color: rgb(133,133,133);
}

/* Products */

#products {
    background: inherit;
    color: inherit;
    width: 320px;
    position: fixed;
    left: 0;
    top: calc(32px + 12px + 12px);
    bottom:0;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    overflow-x: hidden;
    cursor: default;
}

#products .product {
    background: inherit;
    width: calc(320px-2*10px);
    left: -2px;
    display: block;
    padding: 12px;
    text-decoration: none;
    position: relative;
    -ms-user-select: none;
    -webkit-user-select: none;
    transition: transform 167ms ease-in;
    transform: translate
}

#products .product .title {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

#products .product .tags {
    text-transform: uppercase;
    font-size: 8px;
    display: none;
}

#products .product.owned .tags,
#products .product.wishlisted .tags
 {
    display: block;
}

#products .product:hover {
    background: rgb(25,25,25);
}

#products .product:active {
    background: rgb(51,51,51);
    transform: scale(0.99);
}

#products .product.selected {
    color: rgb(0,120,215);
}

#products .product.selected::before {
    display: block;
    position: absolute;
    width: 6px;
    height: 50%;
    top: 25%;
    left:0;
    background: rgb(0,120,215);
    content: " ";
}

#products .searchResultsLimited {
    padding: 12px;
    color: rgb(255, 240, 0);
    cursor: inherit;
}

/* Game Details */

#gameDetails {
    background: inherit;
    position: fixed;
    left: 320px;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 24px;
    font-size: 24px;
}

#gameDetails h1 {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 24px;
}