.dark {
    background: black;
    color: white;
}

.light {
    background: white;
    color: black;
}

/* Filter */

#filter select {
    color: rgb(0,120,215);
}

.dark #filter select:hover {
    color: rgb(153,153,153);
}

.light #filter select:hover {
    color: rgb(102,102,102);    
}

/* Search */

#search {
    width: 20em;
}

.dark #search input[type=search] {
    outline-color: rgb(133,133,133);
}

.dark #search input[type=search]::-webkit-input-placeholder {
    color: rgb(133,133,133);
}

.light #search input[type=search] {
    outline-color: rgb(122,122,122);
}

.light #search input[type=search]::-webkit-input-placeholder {
    outline-color: rgb(122,122,122);    
}

#search input[type=search]:focus {
    outline-color: rgb(0,120,215);
    background: white;
    color: black;
}

#search input[type=search]:focus::-webkit-input-placeholder {
    color: rgb(153,153,153)
}

#search input[type=search]:focus:hover {
    outline-color: rgb(0,120,215);
}

/* Products */

#products {
    width: 20em;
}

#products .product {
    width: calc(20em-1.25em);
}

#products .product.selected {
    background: rgb(0,120,215) !important;
}

.dark #products .keyboardSelected {
    outline-color: white;
}

.light #products .keyboardSelected {
    outline-color: black;
}

.dark #products .product:focus {
    outline-color: white
}

.light #products .product:focus {
    outline-color: black
}

.dark #products .product:hover {
    background: rgb(25,25,25);
}

.light #products .product:hover {
    background: rgb(230,230,230);
}

.dark #products .product:active {
    background: rgb(51,51,51);
}

.light #products .product:active {
    background: rgb(204,204,204);
}

.dark .warning {
    color: rgb(255, 240, 0);
}

.light .warning {
    color: rgb(197,5,0);
}

/* GameDetails */

#gameDetails {
    left: 20em;
}

#gameDetails a {
    color: rgb(0,120,215);
}

.dark #gameDetails a:hover {
    color: rgb(153,153,153);;
}

.light #gameDetails a:hover {
    color: rgb(102,102,102);
}

.light #gameDetails .cdKeySection p {
    color: white;
}

.dark #gameDetails .cdKeySection p {
    color: black;
}

/* GameDetails tabs */

.dark #gameDetails [role='tab'] {
    background: rgb(56,56,56);
} 

.light #gameDetails [role='tab'] {
    background: rgb(242,242,242);
}

#gameDetails [role='tab'][aria-selected='true'] {
    background: rgb(0,120,215);
}

/* GameDetails lists */

.dark #gameDetails ul.list li:nth-child(odd) {
    background: rgb(26,26,26);
}

.light #gameDetails ul.list li:nth-child(odd) {
    background: rgb(242,242,242);
}