/* CSS Custom properties */

:root {
    --accent: rgb(0,120,215);
    --inputBackground: white;
    --inputForeground: black;
    --inputPlaceholder: rgb(153,153,153);
}

:root .dark {
    --foreground: white;
    --background: black;
    --inputOutline: rgb(133,133,133);
    --linkHover: rgb(153,153,153);
    --hover: rgb(25,25,25);
    --active: rgb(51,51,51);
    --warning: rgb(255, 240, 0);
    --filesOdd: rgb(26,26,26);
    --filesHover: rgb(51,51,51);
    --tabBackground: rgb(56,56,56);
    /* no need to port those to NoCSSCustomProperties */
    --scrollbarBackground: rgb(23,23,23);
    --scrollbarThumb: rgb(69,69,69);
    --scrollbarThumbHover: rgb(116,116,116);
    --scrollbarThumbActive: rgb(162,162,162);
    --scrollbarButtonUp: url("data:image/svg+xml,<svg viewBox='0 0 12 12' height='12' width='12' xmlns='http://www.w3.org/2000/svg'><path style='stroke: white' fill='none' d='M3,7.5 L6,5 L9,7.5' /></svg>");                                        
    --scrollbarButtonDown: url("data:image/svg+xml,<svg viewBox='0 0 12 12' height='12' width='12' xmlns='http://www.w3.org/2000/svg'><path style='stroke: white' fill='none' d='M3,5 L6,7.5 L9,5' /></svg>");                                        
    --scrollbarButtonUpActive: url("data:image/svg+xml,<svg viewBox='0 0 12 12' height='12' width='12' xmlns='http://www.w3.org/2000/svg'><path style='stroke: black' fill='none' d='M3,7.5 L6,5 L9,7.5' /></svg>");                                        
    --scrollbarButtonDownActive: url("data:image/svg+xml,<svg viewBox='0 0 12 12' height='12' width='12' xmlns='http://www.w3.org/2000/svg'><path style='stroke: black' fill='none' d='M3,5 L6,7.5 L9,5' /></svg>");                                        
    /*--scrollbarButtonLeft: url("data:image/svg+xml,<svg viewBox='0 0 12 12' height='12' width='12' xmlns='http://www.w3.org/2000/svg'><path style='stroke: white' fill='none' d='M7.5,3 L5,6 L7.5,9' /></svg>");*/
    /*--scrollbarButtonRight: url("data:image/svg+xml,<svg viewBox='0 0 12 12' height='12' width='12' xmlns='http://www.w3.org/2000/svg'><path style='stroke: white' fill='none' d='M5,3 L7.5,6 L5,9' /></svg>");*/
    --scrollbarButtonActive: rgb(162,162,162);
}

:root .light {
    --foreground: black;
    --background: white;
    --inputOutline: rgb(122,122,122);   
    --linkHover: rgb(102,102,102);    
    --hover: rgb(230,230,230);
    --active: rgb(204,204,204);
    --warning: rgb(197,5,0);
    --filesOdd: rgb(242,242,242);
    --filesHover: rgb(217,217,217);
    --tabBackground: rgb(242,242,242);
    /* no need to port those to NoCSSCustomProperties */
    --scrollbarBackground: rgb(242,242,242);
    --scrollbarThumb: rgb(194,194,194);
    --scrollbarThumbHover: rgb(145,145,145);
    --scrollbarThumbActive: rgb(97,97,97);
    --scrollbarButtonUp: url("data:image/svg+xml,<svg viewBox='0 0 12 12' height='12' width='12' xmlns='http://www.w3.org/2000/svg'><path style='stroke: black' fill='none' d='M3,7.5 L6,5 L9,7.5' /></svg>");                                
    --scrollbarButtonDown: url("data:image/svg+xml,<svg viewBox='0 0 12 12' height='12' width='12' xmlns='http://www.w3.org/2000/svg'><path style='stroke: black' fill='none' d='M3,5 L6,7.5 L9,5' /></svg>");
    --scrollbarButtonUpActive: url("data:image/svg+xml,<svg viewBox='0 0 12 12' height='12' width='12' xmlns='http://www.w3.org/2000/svg'><path style='stroke: white' fill='none' d='M3,7.5 L6,5 L9,7.5' /></svg>");                                        
    --scrollbarButtonDownActive: url("data:image/svg+xml,<svg viewBox='0 0 12 12' height='12' width='12' xmlns='http://www.w3.org/2000/svg'><path style='stroke: white' fill='none' d='M3,5 L6,7.5 L9,5' /></svg>");                                        
    /*--scrollbarButtonLeft: url("data:image/svg+xml,<svg viewBox='0 0 12 12' height='12' width='12' xmlns='http://www.w3.org/2000/svg'><path style='stroke: black' fill='none' d='M7.5,3 L5,6 L7.5,9' /></svg>");*/
    /*--scrollbarButtonRight: url("data:image/svg+xml,<svg viewBox='0 0 12 12' height='12' width='12' xmlns='http://www.w3.org/2000/svg'><path style='stroke: black' fill='none' d='M5,3 L7.5,6 L5,9' /></svg>");*/
    --scrollbarButtonActive: rgb(97,97,97);    
}


/* Common */

html {
    font-family: -apple-system, 'Segoe UI', sans-serif;
    margin: 0;
	font-size: 16px;
}

.hidden {
    display: none !important;
}

body {
    background: var(--background);
    color: var(--foreground);
}

h1, h2 {
    font-size: 1.5rem;
    font-weight: normal;
}

a {
    color: inherit;
    text-decoration: none;
}

/* WebKit scrollbars styles */

::-webkit-scrollbar {
    background: var(--scrollbarBackground);
    color: var(--foreground);
}

::-webkit-scrollbar:vertical {
    width: 0.75em;
    min-height: 0.75em;
}

::-webkit-scrollbar:horizontal {
    height: 0.75em;
    min-width: 0.75em;
}

::-webkit-scrollbar-button {
    width: 0.75em;
    height: 0.75em;
}

::-webkit-scrollbar-button:start:decrement {
    display: block;
}

::-webkit-scrollbar-button:end:increment {
    display: block;
}

::-webkit-scrollbar-button:active {
    background: var(--scrollbarButtonActive);
}

::-webkit-scrollbar-button:vertical:start {
    background-image: var(--scrollbarButtonUp);
}

::-webkit-scrollbar-button:vertical:end {
    background-image: var(--scrollbarButtonDown);
}

::-webkit-scrollbar-button:vertical:start:active {
    background-image: var(--scrollbarButtonUpActive);
}

::-webkit-scrollbar-button:vertical:end:active {
    background-image: var(--scrollbarButtonDownActive);
}

/*::-webkit-scrollbar-button:horizontal:start {
    background-image: var(--scrollbarButtonLeft);
}*/

/*::-webkit-scrollbar-button:horizontal:end {
    background-image: var(--scrollbarButtonRight);
}*/

::-webkit-scrollbar-thumb {
    background: var(--scrollbarThumb);
} 

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbarThumbHover);
}

::-webkit-scrollbar-thumb:active {
    background: var(--scrollbarThumbActive);
}

/* App Title */

h1#appTitle {
    padding-left: 1rem;
    font-weight: 200;
    opacity: 0.8;
}

/* Search */

#search {
    position: fixed;
    left: 0;
    top: 0;
    height: calc(4em+0.75em+0.75em);
    width: 20em;
    background-color: inherit;
    overflow: visible;
}

#search input[type=search] {
    margin: 0.75rem;
    padding-left: 0.4375rem;
    width: calc(100% - 0.75rem - 0.125rem);
    height: calc(2rem - 2*0.125rem);
    outline: 0.125rem solid;
    outline-color: var(--inputOutline);
    border: 0;
    background: inherit;
    color: inherit;
    font-size: inherit;
    /* WebKit fix */
    -webkit-appearance: none;
}

#search input[type=search]::-webkit-input-placeholder {
    color: var(--inputOutline)
}

#search input[type=search]:hover {
    outline-color: currentColor;
}

#search input[type=search]:focus {
    outline-color: var(--accent);
    background: var(--inputBackground);
    color: var(--inputForeground);
}

#search input[type=search]:focus::-webkit-input-placeholder {
    color: var(--inputPlaceholder)
}

/* Products */

#products {
    background: inherit;
    color: inherit;
    width: 20em;
    position: fixed;
    left: 0;
    top: calc(3.75em + 2em + 0.75em + 0.75em);
    bottom:0;
    overflow-x: hidden;
    cursor: default;
}

#products:focus {
    outline: none;
}

#products ul {
    margin: 0;
    padding: 0;
}

#products .product {
    background: inherit;
    width: calc(20em-1.25em);
    overflow: visible;
    display: block;
    font-size: 1em;
    padding: 0.75em;
    padding-left: 1em;
    text-decoration: none;
    position: relative;
    user-select: none;
    transition: transform 167ms ease-in;
}

#products .product .title {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

#products .product .tags {
    text-transform: uppercase;
    font-size: 0.5em;
    display: none;
}

#products .product.hasTags .tags {
    display: block;
}

#products .product:focus {
    outline: 2px solid;
    outline-offset: -2px;
    outline-color: var(--foreground)
}

#products .product:hover {
    background: var(--hover)
}

#products .product:active {
    transform: scale(0.99);
    background: var(--active)
}

#products .product.selected {
    color: var(--accent)
}

#products .product.selected::before {
    display: block;
    position: absolute;
    width: 0.5em;
    height: 50%;
    top: 25%;
    left:-0.175em;
    background: currentColor;
    content: " ";
}

#products .searchResultsLimited {
    padding: 0.75em;
    cursor: inherit;
    color: var(--warning)
}

/* Game Details */

#gameDetails {
    background: inherit;
    position: fixed;
    left: 20rem;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 1em;
    overflow: auto;
}

#gameDetails:focus {
    outline: none;
}

#gameDetails a {
    color: var(--accent);
}

#gameDetails a:hover {
    color: var(--linkHover);
}

#gameDetails .linksSection,
#gameDetails .cdKeySection,
#gameDetails .genresSection,
#gameDetails .seriesSection,
#gameDetails .requiredProductsSection,
#gameDetails .dlcSection,
#gameDetails .filesSection,
#gameDetails .screenshotsSection,
#gameDetails .changelogSection,
#gameDetails .tab.files,
#gameDetails .tab.screenshots,
#gameDetails .tab.changelog {
    display: none;
}

#gameDetails .links .linksSection,
#gameDetails .cdKey .cdKeySection,
#gameDetails .genres .genresSection,
#gameDetails .series .seriesSection,
#gameDetails .requiredProducts .requiredProductsSection,
#gameDetails .dlc .dlcSection,
#gameDetails .files .filesSection,
#gameDetails .screenshots .screenshotsSection,
#gameDetails .changelog .changelogSection,
#gameDetails .files .tab.files,
#gameDetails .screenshots .tab.screenshots,
#gameDetails .changelog .tab.changelog  {
    display: initial;
}

#gameDetails h1 {
    margin-bottom: 1em;
	margin-top: 0;
}

#gameDetails img {
    width: 100%;
    max-width: 800px;
}

#gameDetails .cdKeySection p {
    color: var(--background);
}

#gameDetails .tabContent[for=screenshots] img {
    cursor: zoom-in;
}

#gameDetails h3 {
    font-weight: 600;
    font-size: 1em;
    margin-bottom: 0;
}

#gameDetails p {
    margin-top: 0;
}

/* GameDetails tabs*/

#gameDetails .tabs {
    margin-top: 1em;
    margin-bottom: 1em;
    user-select: none;
}

#gameDetails .tab {
    padding: 0.75em;
    margin: 0;
    display: inline-block;
    /*text-transform: uppercase;*/
    cursor: pointer;
    background: var(--tabBackground);
}

#gameDetails .tab.selected {
    background: var(--accent);
}

/* Files */

#gameDetails .filesSection {
    margin-bottom: 1em;
}

#gameDetails .filesSection .file {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.75em 0 0.75em 1em;
    text-decoration: none;
    cursor: pointer;
    color: var(--foreground) !important;
}

#gameDetails .filesSection .file:hover {
    background: var(--filesHover) !important;
}

#gameDetails .filesSection .file:nth-child(odd) {
    background: var(--filesOdd);
}

#gameDetails .filesSection .file span {
    display: inline-block;
    padding-right: 1em;
    flex-shrink: 0;
}

#gameDetails .filesSection .file .name {
    flex-grow: 1;
    flex-shrink: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
}

#gameDetails .filesSection .file .size {
    width: 5em;
    text-align: right;
}

#gameDetails .filesSection .file .language {
    width: 5em; 
}

#gameDetails .filesSection .file .operatingSystem {
    width: 5em;
}

/* Screenshot Fullscreen Container */

#screenshotFullscreenContainer {
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    cursor: zoom-out;
    background: inherit
}

#screenshotFullscreenContainer img {
    /* width/height: 100% + object-fit: contain */
    width: 100%
}