.dark {
    background: black;
    color: white;
}

.light {
    background: white;
    color: black;
}

/* Search */

.dark #search input[type=search] {
    outline-color: rgb(133,133,133);
}

.dark #search input[type=search]::-webkit-input-placeholder {
    color: rgb(133,133,133);
}

.light #search input[type=search] {
    outline-color: rgb(122,122,122);
}

.light #search input[type=search]::-webkit-input-placeholder {
    outline-color: rgb(122,122,122);    
}

#search input[type=search]:focus {
    outline-color: rgb(0,120,215);
    background: white;
    color: black;
}

#search input[type=search]:focus::-webkit-input-placeholder {
    color: rgb(153,153,153)
}

/* Products */

#products .product.selected {
    color: rgb(0,120,215);
}

.dark #products .keyboardSelected {
    outline-color: white;
}

.light #products .keyboardSelected {
    outline-color: black;
}

.dark #products .product:hover {
    background: rgb(25,25,25);
}

.light #products .product:hover {
    background: rgb(230,230,230);
}

.dark #products .product:active {
    background: rgb(51,51,51);
}

.light #products .product:active {
    background: rgb(204,204,204);
}

.dark #products .searchResultsLimited {
    color: rgb(255, 240, 0);
}

.light #products .searchResultsLimited {
    color: rgb(197,5,0);
}

/* GameDetails */

.light #gameDetails .cdKeySection p {
    color: white;
}

.dark #gameDetails .cdKeySection p {
    color: black;
}